<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='com.css') }}">
</head>
<body>
<div class=l align=center>
<h1>ABC Hospital Management System</h1>
<form action="" method="post"> 
<select name="Patient">
  
  <option selected="selected">Patient</option>
  <option>View</option>
  <option>Update</option>
  <option>Search</option>
  <option>Delete</option>
  <option>Billing</option>
  <br>
  <br>
 <input type="submit" name="select">
</select>
</form>
<select >
  <option value="pharma">Pharmacy</option>
</select>
<select>
  <option value="diagnostics">Diagnostics</option>
</select>
<hr>
</div>
<br/><br/>
{% with msg=get_flashed_messages() %}
{% if msg %}
{% for x in msg %}
  <p style="color: red; text-align: center;"><strong>{{ x }}</strong></p>
 {% endfor %}
 {% endif %}
 {% endwith %} 

<form  align=center action="" method="post">
 <h2 align=center>Patient Registration</h2>

    <label for="ssnid"><b>Patient SSN ID*:</b></label><br/>
   <input type="text" id="ssnid" name="ssnid" required><br/><br/>

    <label for="pname"><b>Patient Name*:</b></label><br/>
    <input type="text" id="pname" name="pname" required><br/><br/>
  
    <label for="age"><b>Patient Age*:</b></label><br/>
    <input type="number" id="age" name="age" required><br/><br/>

    <label for="date"><b>Date of Admission*:</b></label><br/>
    <input type="date" id="date" name="date" required><br/><br/>

    <label for="bedtype"><b>Type of bed*:</b></label><br/>
    <select name="bedtype" id="bedtype">
      <option value="General Ward">General Ward</option>
      <option value="Semi Sharing">Semi Sharing</option>
      <option value="Single Room">Single Room</option></select><br/>

    <label for="address"><b>Address*:</b></label><br/>
    <textarea name="address" id="address" rows="4" height="50" required></textarea><br/>

    <label for="state"><b>State*:</b></label><br/>
    <select name="state" id="state">
      <option>Jammu And kashmir</option>
      <option>Punjab</option>
      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
    </select><br/>

    <label for="city"><b>City*:</b></label>
    <select name="city" id="city"><option value="Bengalore">Bengalore</option></select><br/>
<label for="status"><b>Status*:</b></label>
<input type="radio" name="status" id="status" value="Discharged" required>
<label for="status">Discharged</label>
<input type="radio" name="status" id="status" value="Active" required>
<label for="status">Active</label><br/>
        
    <input name="submit" type="submit">Submit</button>
    <input name="reset" type="reset">Reset</button>
</form>

</body>
</html>
