{% extends "base.html"%}
{% block content %}
        <div>
            <p><h4 style="text-align: center;font-weight: bold;font-size:x-large;">View patients</h4></p>
            <center>
                <table class="pure-table" >
                    <thead>
                        <tr>
                            <th>PatientId</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>DOJ</th>
                            <th>Type of Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <td>{{ i.patient_ssn }}</td>
                            <td>{{ i.patient_name }}</td>
                            <td>{{ i.patient_age }}</td>
                            <td>{{ i.address }}</td>
                            <td>{{ i.doa }}</td>
                            <td>{{ i.bed }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </center>
        </div>
{% endblock %}    
