body
{ background-color:#0667f9;
font-family: Arial, Helvetica, sans-serif;
}
hr{height:2px;border-width:0;color:gray;background-color:black;}
button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
border-radius:12px
  
}
select{background-color:#0667f9; padding:5px 5px; border:2px solid ;margin:20px; position:left}
.l
{background-color:#66a3ff;}
input[type=text][type=number]
{
padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.col-25 {
  float:left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float:left;
  width: 50%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}